body{
background-color:rgb(237, 237, 237);
margin:5em;
align-items: center;
}
.gallery{
list-style-type: none;
display: flex;
flex-wrap: wrap;
align-items: center;
}
.gallery li{
border: 0.4rem black solid;
padding: 1em;
background-color: white;
margin: 1em;
width: fit-content;
height: fit-content;
}
img{
max-width:300px;
}