body{
background-color:rgb(237, 237, 237);
margin:5em;
align-items: center;
}
.gallery{
list-style-type: none;
align-items: center;
}
.gallery li{
border: 0.4rem black solid;
padding: 1em;
background-color: white;
margin: 0.5em;
width: fit-content;
height: fit-content;
display: inline-block;
vertical-align: middle;
}
img{
max-width:300px;
}