body{
display:flex;
flex-wrap: wrap;
background-color:rgb(237, 237, 237);
margin:2em;
}
header, main, aside, footer{
flex-grow: 2;
flex-shrink: 1;
flex-basis: 80%;
background-color:white;
border-radius: 0.3rem;
margin: 1em;
padding-left:1em;
padding-top:1em;
font-family: sans;
box-shadow: 0 0px 8px grey;
}
header{
height: 15vh;
}
main{
flex-basis: 60%;
height: 45vh;
}
aside{
flex-basis: 30%
}
footer{
height: 10vh;
}
h1{
font-weight: normal;
font-size: 1em;
}