body{
background-color:rgb(237, 237, 237);
margin:4em;
display: flex;
flex-direction: column;
justify-content:center;
align-items:center;
}
.gallery{
list-style-type: none;
align-items: center;
}
ul{
display: flex;
flex-wrap: wrap;
gap: 2em;
}
li{
display: flex;
border: 0.7rem black solid;
padding: 1em;
background-color: white;
margin: 0.5em;
width: fit-content;
height: 450px;
justify-content:center;
align-items:center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}
h1{
font-family: Georgia, serif;
font-size: 1em;
line-height: 1.2;
}
